{# Archivo generado por scripts/sync_instagram_feed.py #}
<!-- Trabajo destacado 1 -->
<a href="https://www.instagram.com/p/DWKCjvCiZyU/" class="social-mosaic-item" target="_blank" rel="noopener">
  <img src="{{ SITEURL }}/images/instagram/instagram-01.jpg" alt="Trabajo destacado 1" loading="lazy" />
</a>
<!-- Trabajo destacado 2 -->
<a href="https://www.instagram.com/p/DV9zhGgCZ54/" class="social-mosaic-item" target="_blank" rel="noopener">
  <img src="{{ SITEURL }}/images/instagram/instagram-02.jpg" alt="Trabajo destacado 2" loading="lazy" />
</a>
<!-- Trabajo destacado 3 -->
<a href="https://www.instagram.com/p/DVZ0Np7jhl2/" class="social-mosaic-item" target="_blank" rel="noopener">
  <img src="{{ SITEURL }}/images/instagram/instagram-03.jpg" alt="Trabajo destacado 3" loading="lazy" />
</a>
<!-- Trabajo destacado 4 -->
<a href="https://www.instagram.com/p/DTYyAD7jlOx" class="social-mosaic-item" target="_blank" rel="noopener">
  <img src="{{ SITEURL }}/images/instagram/instagram-04.jpg" alt="Trabajo destacado 4" loading="lazy" />
</a>
<!-- Trabajo destacado 5 -->
<a href="https://www.instagram.com/p/DUi2dzeDpK3/" class="social-mosaic-item" target="_blank" rel="noopener">
  <img src="{{ SITEURL }}/images/instagram/instagram-05.jpg" alt="Trabajo destacado 5" loading="lazy" />
</a>
<!-- Trabajo destacado 6 -->
<a href="https://www.instagram.com/p/DTHeyc0DoG0/" class="social-mosaic-item" target="_blank" rel="noopener">
  <img src="{{ SITEURL }}/images/instagram/instagram-06.jpg" alt="Trabajo destacado 6" loading="lazy" />
</a>
